*{
    margin: 0;
    padding: 0;
}
body{
    background-color: greenyellow;
    padding-top: 50px;
}

h1{
    background-color: blue;
    color: white;
    text-align: center;
    display: block;
    padding: 20px;
    border-radius: 15px;
    width: 200px;
    margin: 0 auto;
}

.svetafor{
    width: 350px;
    height: 700px;
    background-color: black;
    margin: 50px auto;
    padding-top: 30px;
    border-radius: 40px;
}

.svetafor div{
    width: 200px;
    height: 200px;
    margin: 10px auto;
    border-radius: 50%;
    border: 3px solid greenyellow
}
.yashil{
    background-color: green;
}
.sariq{
    background-color: yellow;
}
.qizil{
    background-color: red;
}
